* {
  margin: 0;
  padding: 0;

  font-family: "DemonSker";
}

@function rem($pixels) {
  @return calc($pixels / 16) * 1rem;
}

html,
body {
  overflow: hidden;
  user-select: none;

  outline: none;
}

.webgl {
  cursor: grab;
}

.page {
  .loader {
    width: 100%;
    height: 100vh;
    background: #000;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 10;

    .loader-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      width: 100%;
      height: 100vh;

      opacity: 0;

      position: absolute;
      top: 0;
      left: 0;

      .loader-title {
        color: #fff;

        text-align: center;

        font-size: rem(48);

        padding: rem(8);

        @media screen and (min-width: 768px) {
          font-size: rem(80);
        }
      }

      .loader-progress-bar {
        width: 100%;
        max-width: 200px;
        height: 2px;

        margin-bottom: 96px;

        background: gray;

        position: relative;

        @media screen and (min-width: 768px) {
          max-width: 300px;
        }

        .progress-bar {
          width: 0%;
          height: 100%;

          background: #fff;
          position: absolute;

          transition: 0.3s;
        }

        .progress-bar-text {
          display: block;
          color: #fff;

          padding: rem(16);

          text-align: center;
        }
      }
    }
  }

  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin-top: rem(16);

    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;

    .title {
      margin: 0 rem(16);

      color: #fff;

      text-align: center;
    }

    #fps-counter {
      display: none;
      color: #fff;
      font-size: 32px;
    }

    .toggle-shadow-btn {
      display: none;

      margin: 0 rem(16);

      color: #000;
      background: #fff;

      padding: rem(8);

      border: none;
      border-radius: 4px;
    }

    .toggle-sound-btn {
      width: 40px;
      margin: 0 rem(16);

      background: none;
      border: none;

      cursor: pointer;
      outline: none;
    }
  }

  .outmap-message-container {
    display: none;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: absolute;

    color: #fff;

    opacity: 0;

    .outmap-message {
      margin: 0 rem(16);

      font-size: rem(64);
      text-align: center;

      @media screen and (min-width: 768px) {
        font-size: rem(96);
      }
    }
  }

  .help {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    color: #fff;
    background: rgba(0, 0, 0, 0.2);

    position: absolute;

    .help-control-pad {
      text-align: center;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    .help-keyboard-buttons-container {
      display: none;

      @media screen and (hover: hover) {
        display: flex;
        justify-content: center;

        flex-wrap: wrap;
      }

      .help-keyboard-button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100px;
        height: 100px;

        margin: rem(16);

        border: 4px solid #fff;

        .help-keyboard-button-text {
          color: #fff;

          font-size: 80px;
          padding-top: rem(16);
        }
      }
    }
  }

  .bottom-right-text {
    color: #fff;

    font-size: rem(16);

    text-decoration: none;

    padding: rem(8);

    position: absolute;
    bottom: 0;
    right: rem(2);

    opacity: 0;

    z-index: 1;

    @media screen and (min-width: 768px) {
      font-size: rem(24);
    }
  }

  .controls {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 25%;

    position: absolute;
    bottom: rem(50);
    left: 0;

    @media (hover: hover) {
      display: none;
    }

    .move-field {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 160px;
      height: 160px;

      position: relative;

      border: 2px solid #fff;
      border-radius: 50%;

      .control-pad {
        width: 30%;
        height: 30%;

        background: #fff;

        border-radius: 50%;
      }
    }
  }
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
