* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  user-select: none;

  outline: none;
}

.page {
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    position: absolute;

    .loader-title {
      font-size: 48px;
    }
  }

  .controls {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 25%;

    position: absolute;
    bottom: 0;
    left: 0;

    @media (hover: hover) {
      display: none;
    }

    .move-field {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 160px;
      height: 160px;

      position: relative;

      border: 2px solid #fff;
      border-radius: 50%;

      .control-pad {
        width: 30%;
        height: 30%;

        background: #fff;

        border-radius: 50%;
      }
    }
  }
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
